body{

background:linear-gradient(135deg,#ffecd2,#fcb69f);

font-family:Arial;

}

.banner{

background:url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5?w=1200");

background-size:cover;

padding:120px;

}

.banner h1{

font-size:60px;

font-weight:bold;

text-shadow:3px 3px 10px black;

}

.card{

overflow:hidden;

border:none;

border-radius:20px;

transition:.4s;

margin-bottom:30px;

}

.card:hover{

transform:translateY(-10px);

box-shadow:0px 15px 35px rgba(0,0,0,.4);

}

.card img{

height:250px;

object-fit:cover;

transition:.5s;

}

.card:hover img{

transform:scale(1.1);

}

.badge{

position:absolute;

top:15px;

left:15px;

font-size:15px;

padding:8px;

}

.card-body{

text-align:center;

}

.btn{

border-radius:30px;

}